<% @posts.each do |post| %>
    <div class="posts-wrap row">
        <div class="col-md-4 col-md-offset-4">
            <div class="post">
                <div class="post-head">
                    <div class="name">
                        <% if post.user %>
                            <%= post.user.user_name %>
                        <% else %>
                            Guest
                        <% end %>
                    </div>
                    <% if post.user %>
                        <% if post.user.id == current_user.id %>
                            <%= link_to "Edit Post", edit_post_path(@post), class: 'text-center, edit-links' %>
                        <% end %>
                    <% end %>
                </div>
            </div>
            
            <div class="image center-block">
                <%= image_tag post.image.url(:medium), class:'img-responsive' %>
            </div>
            <p class="caption">
                <%= post.caption %>
            </p>
            
            
        </div>
    </div>
<% end %>